{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}no_title_data{% endblock %}</title>
    {% include 'shared/_HeaderReferences.html' %}
    {% block Header_ref %}{% endblock %}

</head><!--/head-->

<body>

{% render_partial 'header' %}

{% block content %}{% endblock %}


{% render_partial 'footer' %}

{% block Footer_ref %}{% endblock %}
</body>
</html>