{% load static %}

{% for sug_list in suggestion %}
    <div class="item {{ forloop.first|yesno:'active,' }}">
        {% for sug in sug_list %}
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="{{ sug.get_image_url }}" style="width: 268px;height: 250px" alt="{{ sug.title }}"/>
                            <h2>{{ sug.price }} ريال</h2>
                            <p>{{ sug.title }}</p>
                            <a href="#" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>{{ sug.price }} ريال </h2>
                                <p>توضیحات کوتـاه محصـول</p>
                                <a href="#" class="btn btn-default add-to-cart"><i
                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="{{ sug.get_absolute_url }}"><i class="fa fa-plus-square"></i>مشاهده</a></li>
                            <li><a href=""><i class="fa fa-plus-square"></i>مقایسه</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endfor %}
